@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}
:root {
  --order: 0;
}



@media (min-width: 360px) {
  .fade-in {
    opacity: 0;
    animation: fade 750ms calc(200ms + var(--order) * 650ms) forwards ease-out;
  }
  .fade-down {
    opacity: 0;
    animation: fadeDown 1000ms 200ms forwards ease-out;
  }
  
  .test {
  }
  @keyframes fade {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeDown {
    0%{transform: translateY(-15px);}
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
}